<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Insight.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Insight.Properties.Settings>
            <setting name="Provider" serializeAs="String">
                <value>Insight.SvnProvider.SvnProvider,Insight.SvnProvider</value>
            </setting>
            <setting name="ProjectBase" serializeAs="String">
                <value>.\ProjectBase</value>
            </setting>
            <setting name="Cache" serializeAs="String">
                <value>.\Cache</value>
            </setting>
            <setting name="ExtensionsToInclude" serializeAs="String">
                <value>.cs;.xaml</value>
            </setting>
            <setting name="PathsToExclude" serializeAs="String">
                <value>\Test\,UnitTest</value>
            </setting>
            <setting name="PathsToInclude" serializeAs="String">
                <value />
            </setting>
            <setting name="WorkItemRegEx" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxWorkItemsPerCommitForSummary" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MinCommitsForHotspots" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinLinesOfCodeForHotspot" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxItemsInChangesetForChangeCoupling" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="MinCouplingForChangeCoupling" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MinDegreeForChangeCoupling" serializeAs="String">
                <value>40</value>
            </setting>
        </Insight.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">         
            <dependentAssembly>
                <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
